div.og_private_content {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-width: 135px;
  float: right;
  position: relative;
  font-size: 11px;
  color: #965;
  text-shadow: white 0px 1px 0px;
  background: #FFE4E0 url('lock.png') no-repeat scroll 5px 5px;
  margin: 5px 0px 0px 0px;
  padding: 5px 5px 4px 30px;
  border-bottom: 1px solid #FCC;
  line-height: 15px;
  white-space: nowrap;
  overflow: hidden;
  background-repeat:no-repeat;
}